<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/home.css">
    <title>Home / Twitter</title>
</head>

<body>
    <div class="container flex">
        <aside class="sidebar">
            <nav class="sidenav">
                <ul class="nav-links">
                    <li class="nav-item">Search</li>
                    <li class="nav-item">Home</li>
                    <li class="nav-item">Profile</li>
                    <li class="nav-item special">Tweet</li>
                    <li class="nav-item">Logout</li>
                </ul>
            </nav>
        </aside>
        <main class="main">
            <div class="wrapper_inner">
                <p>

                    Non enim praesent elementum facilisis. Facilisis volutpat est velit egestas dui id ornare. Lobortis
                    mattis aliquam faucibus purus. Volutpat consequat mauris nunc congue nisi vitae. Quis auctor elit
                    sed vulputate. Nisl nisi scelerisque eu ultrices vitae auctor eu. Imperdiet sed euismod nisi porta
                    lorem. Sed faucibus turpis in eu mi bibendum neque. Id eu nisl nunc mi. At erat pellentesque
                    adipiscing commodo elit at imperdiet dui accumsan.

                    Sed ullamcorper morbi tincidunt ornare massa eget egestas purus. Facilisis mauris sit amet massa
                    vitae. Mauris a diam maecenas sed enim ut sem. Libero id faucibus nisl tincidunt. Et malesuada fames
                    ac turpis egestas maecenas pharetra convallis. Adipiscing enim eu turpis egestas pretium aenean
                    pharetra magna ac. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Integer enim
                    neque volutpat ac. Mi in nulla posuere sollicitudin aliquam ultrices sagittis. Ullamcorper a lacus
                    vestibulum sed arcu non odio euismod lacinia. Dolor sed viverra ipsum nunc aliquet bibendum. Nunc
                    vel risus commodo viverra maecenas. Id velit ut tortor pretium viverra suspendisse potenti nullam.
                    Maecenas sed enim ut sem viverra aliquet. Faucibus turpis in eu mi bibendum neque egestas congue.
                    Cras tincidunt lobortis feugiat vivamus at augue eget arcu. Mattis nunc sed blandit libero. Quam
                    pellentesque nec nam aliquam sem et tortor.
                    Sed ullamcorper morbi tincidunt ornare massa eget egestas purus. Facilisis mauris sit amet massa
                    vitae. Mauris a diam maecenas sed enim ut sem. Libero id faucibus nisl tincidunt. Et malesuada fames
                    ac turpis egestas maecenas pharetra convallis. Adipiscing enim eu turpis egestas pretium aenean
                    pharetra magna ac. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Integer enim
                    neque volutpat ac. Mi in nulla posuere sollicitudin aliquam ultrices sagittis. Ullamcorper a lacus
                    vestibulum sed arcu non odio euismod lacinia. Dolor sed viverra ipsum nunc aliquet bibendum. Nunc
                    vel risus commodo viverra maecenas. Id velit ut tortor pretium viverra suspendisse potenti nullam.
                    Maecenas sed enim ut sem viverra aliquet. Faucibus turpis in eu mi bibendum neque egestas congue.
                    Cras tincidunt lobortis feugiat vivamus at augue eget arcu. Mattis nunc sed blandit libero. Quam
                    pellentesque nec nam aliquam sem et tortor.
                    Sed ullamcorper morbi tincidunt ornare massa eget egestas purus. Facilisis mauris sit amet massa
                    vitae. Mauris a diam maecenas sed enim ut sem. Libero id faucibus nisl tincidunt. Et malesuada fames
                    ac turpis egestas maecenas pharetra convallis. Adipiscing enim eu turpis egestas pretium aenean
                    pharetra magna ac. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Integer enim
                    neque volutpat ac. Mi in nulla posuere sollicitudin aliquam ultrices sagittis. Ullamcorper a lacus
                    vestibulum sed arcu non odio euismod lacinia. Dolor sed viverra ipsum nunc aliquet bibendum. Nunc
                    vel risus commodo viverra maecenas. Id velit ut tortor pretium viverra suspendisse potenti nullam.
                    Maecenas sed enim ut sem viverra aliquet. Faucibus turpis in eu mi bibendum neque egestas congue.
                    Cras tincidunt lobortis feugiat vivamus at augue eget arcu. Mattis nunc sed blandit libero. Quam
                    pellentesque nec nam aliquam sem et tortor.
                    Sed ullamcorper morbi tincidunt ornare massa eget egestas purus. Facilisis mauris sit amet massa
                    vitae. Mauris a diam maecenas sed enim ut sem. Libero id faucibus nisl tincidunt. Et malesuada fames
                    ac turpis egestas maecenas pharetra convallis. Adipiscing enim eu turpis egestas pretium aenean
                    pharetra magna ac. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Integer enim
                    neque volutpat ac. Mi in nulla posuere sollicitudin aliquam ultrices sagittis. Ullamcorper a lacus
                    vestibulum sed arcu non odio euismod lacinia. Dolor sed viverra ipsum nunc aliquet bibendum. Nunc
                    vel risus commodo viverra maecenas. Id velit ut tortor pretium viverra suspendisse potenti nullam.
                    Maecenas sed enim ut sem viverra aliquet. Faucibus turpis in eu mi bibendum neque egestas congue.
                    Cras tincidunt lobortis feugiat vivamus at augue eget arcu. Mattis nunc sed blandit libero. Quam
                    pellentesque nec nam aliquam sem et tortor.
                </p>
                <p>
                    Sed ullamcorper morbi tincidunt ornare massa eget egestas purus. Facilisis mauris sit amet massa
                    vitae. Mauris a diam maecenas sed enim ut sem. Libero id faucibus nisl tincidunt. Et malesuada fames
                    ac turpis egestas maecenas pharetra convallis. Adipiscing enim eu turpis egestas pretium aenean
                    pharetra magna ac. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Integer enim
                    neque volutpat ac. Mi in nulla posuere sollicitudin aliquam ultrices sagittis. Ullamcorper a lacus
                    vestibulum sed arcu non odio euismod lacinia. Dolor sed viverra ipsum nunc aliquet bibendum. Nunc
                    vel risus commodo viverra maecenas. Id velit ut tortor pretium viverra suspendisse potenti nullam.
                    Maecenas sed enim ut sem viverra aliquet. Faucibus turpis in eu mi bibendum neque egestas congue.
                    Cras tincidunt lobortis feugiat vivamus at augue eget arcu. Mattis nunc sed blandit libero. Quam
                    pellentesque nec nam aliquam sem et tortor.
                    Sed ullamcorper morbi tincidunt ornare massa eget egestas purus. Facilisis mauris sit amet massa
                    vitae. Mauris a diam maecenas sed enim ut sem. Libero id faucibus nisl tincidunt. Et malesuada fames
                    ac turpis egestas maecenas pharetra convallis. Adipiscing enim eu turpis egestas pretium aenean
                    pharetra magna ac. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Integer enim
                    neque volutpat ac. Mi in nulla posuere sollicitudin aliquam ultrices sagittis. Ullamcorper a lacus
                    vestibulum sed arcu non odio euismod lacinia. Dolor sed viverra ipsum nunc aliquet bibendum. Nunc
                    vel risus commodo viverra maecenas. Id velit ut tortor pretium viverra suspendisse potenti nullam.
                    Maecenas sed enim ut sem viverra aliquet. Faucibus turpis in eu mi bibendum neque egestas congue.
                    Cras tincidunt lobortis feugiat vivamus at augue eget arcu. Mattis nunc sed blandit libero. Quam
                    pellentesque nec nam aliquam sem et tortor.
                    Sed ullamcorper morbi tincidunt ornare massa eget egestas purus. Facilisis mauris sit amet massa
                    vitae. Mauris a diam maecenas sed enim ut sem. Libero id faucibus nisl tincidunt. Et malesuada fames
                    ac turpis egestas maecenas pharetra convallis. Adipiscing enim eu turpis egestas pretium aenean
                    pharetra magna ac. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Integer enim
                    neque volutpat ac. Mi in nulla posuere sollicitudin aliquam ultrices sagittis. Ullamcorper a lacus
                    vestibulum sed arcu non odio euismod lacinia. Dolor sed viverra ipsum nunc aliquet bibendum. Nunc
                    vel risus commodo viverra maecenas. Id velit ut tortor pretium viverra suspendisse potenti nullam.
                    Maecenas sed enim ut sem viverra aliquet. Faucibus turpis in eu mi bibendum neque egestas congue.
                    Cras tincidunt lobortis feugiat vivamus at augue eget arcu. Mattis nunc sed blandit libero. Quam
                    pellentesque nec nam aliquam sem et tortor.
                    Sed ullamcorper morbi tincidunt ornare massa eget egestas purus. Facilisis mauris sit amet massa
                    vitae. Mauris a diam maecenas sed enim ut sem. Libero id faucibus nisl tincidunt. Et malesuada fames
                    ac turpis egestas maecenas pharetra convallis. Adipiscing enim eu turpis egestas pretium aenean
                    pharetra magna ac. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Integer enim
                    neque volutpat ac. Mi in nulla posuere sollicitudin aliquam ultrices sagittis. Ullamcorper a lacus
                    vestibulum sed arcu non odio euismod lacinia. Dolor sed viverra ipsum nunc aliquet bibendum. Nunc
                    vel risus commodo viverra maecenas. Id velit ut tortor pretium viverra suspendisse potenti nullam.
                    Maecenas sed enim ut sem viverra aliquet. Faucibus turpis in eu mi bibendum neque egestas congue.
                    Cras tincidunt lobortis feugiat vivamus at augue eget arcu. Mattis nunc sed blandit libero. Quam
                    pellentesque nec nam aliquam sem et tortor.
                </p>
            </div>
        </main>
    </div>
</body>

</html>