<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Twitter. It's what's happening now.</title>
        <link rel="stylesheet" href="/application/assets/css/styles.css">
        <link rel="icon" type="image/x-icon" href="/application/images/twitter-logo.png">
</head>
<body>
    <section class="login">
    
        <img class="hero-img" src="/application/images/login-img.jpg" alt="">
    
        <div class="login-info">
    
            <img class="login-info-img" src="/application/images/twitter-logo.png" alt="">
    
            <h1>Happening now</h1>
    
            <div class="width-combiner">
    
                <h2>join twitter today.</h2>
    
                <button class="nofill-btn signup-btn">
                    <img src="/application/images/google-logo.png" alt="">
                    Sign up with Google
                </button>
    
                <button class="nofill-btn signup-btn">
                    <img src="/application/images/apple-logo.png" alt="">
                    Sign up with Apple
                </button>
    
                <div class="login-or">
                    <hr>
                    <h4>or</h4>
                    <hr>
                </div>
    
                <button class="blue-btn signup-btn">Sign up with phone or email</button>
    
                <p class="rules">By signing up, you agree to the <a href=""> Terms of Service</a> and <a href=""> Privacy
                        Policy</a>, including <a href=""> Cookie Use</a>.</p>
    
                <h3>Already have an account?</h3>
    
                <button class="nofill-btn signup-btn">Sign in</button>
    
            </div>
    
        </div>
    
    </section>
<!--  -->
    <footer>
        
        <a href="#">About</a>
        <a href="#">Help Center</a>
        <a href="#">Terms of Service</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Cookie Policy</a>
        <a href="#">Accessibility</a>
        <a href="#">Ads info</a>
        <a href="#">Blog</a>
        <a href="#">Status</a>
        <a href="#">Careers</a>
        <a href="#">Brand Resources</a>
        <a href="#">Advertising</a>
        <a href="#">Marketing</a>
        <a href="#">Twitter for Business</a>
        <a href="#">Developers</a>
        <a href="#">Directory</a>
        <a href="#">Settings</a>
        <a href="#">© 2022 Twitter, Inc.</a>
        
    </footer>

    
</body>
</html>