<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | Twitter</title>
    <link rel="stylesheet" href="/application/assets/css/styles.css">
    <link rel="stylesheet" href="/application/assets/css/profile.css">
    <link rel="icon" type="image/x-icon" href="../assets/images/twitter-logo.png">
</head>
<body>
    <section class="profile-container">

        <div class="profile">

            <img src="/application/assets/images/ui-user-profile.svg" alt="" class="profile-bg-img">

            <img src="/application/assets/images/ui-user-profile.svg" alt="" class="profile-img">

            <div class="profile-info">

                <div class="profile-text">
                    <p>Name</p>
                    <p>@username</p>
                    <p>Born on xx xxxxxx xxxx</p>
                    <p>Joined on xx xxxxxx xxxx</p>
                    <p>0 Following | 0 Followers</p>
                </div>

                <div class="profile-btns">
                    <Button class="blue-btn">Follow</Button>
                    <Button class="blue-btn">Block</Button>
                    <Button class="blue-btn">Edit Profile</Button>
                </div>

            </div>
            <hr>
        </div>

        <h1> X No Tweets :(</h1>



        <button class="add-tweet">+</button>

    <div class="footer">

        <a href="#"><img src="/application/assets/images/home-circle.svg" alt=""></a>

        <a href="#"><img src="/application/assets/images/search.svg" alt=""></a>

        <a href="#"><img src="/application/assets/images/ui-user-profile.svg" alt=""></a>

        <a href="index.html"><img src="/application/assets/images/log-out.svg" alt=""></a>

    </div>


    </section>
</body>
</html>